__pycache__/
*.pyc
.env
.venv/
venv/
ENV/
env/
.DS_Store
.ipynb_checkpoints
cache/
*.pdf
*.docx

# Ignore massive raw data files (GitHub 100MB limit)
# We allow bangalore_graph.graphml and .pkl files via Git LFS
data/edges.geojson
data/edges_with_safety.geojson
data/pois.geojson
