fastapi
uvicorn
osmnx
networkx
geopandas
scikit-learn
joblib
pandas
numpy
scipy
shapely
xgboost
langgraph
langchain-groq
langchain-openai
tavily-python
geopy
python-dotenv
requests
langgraph-supervisor
